<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Py-TimeLens</title>
    <!-- 外部CSSファイルのリンク -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1><span>Py-TimeLens</span></h1>

      <!-- フォームを使ってサーバーに送信 -->
      <form id="codeForm" action="/" method="POST">
        <!-- Pythonコード入力エリア -->
        <label for="code-input" class="input-label">Pythonコード</label>
        <textarea
          id="code-input"
          name="code"
          placeholder="ここにPythonコードを入力..."
          required
        >
{{ code }}</textarea
        >

        <!-- 標準入力エリア -->
        <label for="stdin-input" class="input-label">標準入力</label>
        <textarea
          id="stdin-input"
          name="stdin"
          placeholder="標準入力をここに入力..."
        >
{{ stdin_input }}</textarea
        >

        <!-- 実行ボタン -->
        <button id="executeButton" type="submit">実行</button>
      </form>

      <!-- 出力結果と標準エラー表示エリア -->
      <div class="input-output-container">
        <!-- 出力結果 -->
        <div class="output-section">
          <span class="output-label">出力結果:</span>
          <pre>{{ output }}</pre>
        </div>

        <!-- 実行情報 -->
        <div class="execution-info">
          <table>
            <tr>
              <td class="label-cell">ステータス</td>
              <td class="value-cell">{{ status }}</td>
            </tr>
            <tr>
              <td class="label-cell">全体の実行時間</td>
              <td class="value-cell">{{ exec_time | round(1) }} ms</td>
            </tr>
            <tr>
              <td class="label-cell">総使用メモリ量</td>
              <td class="value-cell">{{ memory_usage }} KB</td>
            </tr>
          </table>
        </div>

        <!-- 標準エラー -->
        <div class="error-section">
          <span class="error-label">標準エラー:</span>
          <pre>{{ error }}</pre>
        </div>
      </div>

      <!-- プロファイリング出力結果エリア -->
      <div class="profiling-output-section">
        <h2>プロファイリング結果:</h2>

        <!-- 横スクロールを持つコードラッパー -->
        <div class="code-wrapper">
          <table class="design04">
            <thead>
              <tr>
                <th>行番号</th>
                <th>実行回数</th>
                <th>実行時間 (ns)</th>
                <th>1回あたりの時間 (ns)</th>
                <th>コード内容</th>
              </tr>
            </thead>
            <tbody>
              {% for line in profiled_output %}
              <tr>
                <td>{{ line.line_no }}</td>
                <td>{{ line.hits }}</td>
                <td>{{ line.time }}</td>
                <td>{{ line.per_hit }}</td>
                <td class="code-cell"><pre>{{ line.code }}</pre></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  </body>
</html>
